@import './_variables.scsss';


.home{
    background-color: $primaryWhite;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    padding-top: 10vh;
}


.home_hero{
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 90vh;
    padding: 0 2em;
    .hero_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        justify-content: center;
        p{
            font-size: 2.5em;
        }
        .hero_about{
            font-size: 1.25em;
            margin-top: 20px;
            color: rgb(2, 101, 231);
        }
        .hero_buttons{
            display: flex;
            margin-top: 40px;
        }
    }
    .hero_right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }
    .hero_icons{
        margin-top: 40px;
        display: flex;
        ion-icon{
            margin: 0 20px;
            font-size: 2em;
        }
    }
}

.home_bg_text{
    z-index: -1;
    display: flex;
    gap: 60px;
    animation: slider 15s linear infinite;
    h1{
        font-size: 8em;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: 1000;
        -webkit-text-stroke-color: black;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 800px){
    .home_hero{
        grid-template-columns: 1fr 1fr;
    }
}









