.preloader{
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    height: 100%;
    pointer-events: none;
    transition-delay: 2s;
    .mrito_sainik{
        width: 34vw;
        height: 100%;
        transform-origin: top;
        transition: transform 0.5s ease;
        background-color: #201d1d;
        transition-delay: 0.5s;
    }
    .loader_2{
        transition-delay: 1s;
    }
    .loader_1{
        padding: 0 0.5em 2.5em 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 15px;
        transition-delay: 1.5s;
        p{
            font-size: 1.2em;
            font-family: $coolFont;
            font-weight: bold;
            white-space: nowrap;
            color: #efe1eb;
            span{
                margin-left: 5px;
                animation: preload 0.5s ease-out infinite;
            }
        }
        svg{
            width: 150px;
            height: 150px;
        }
    }
    .preloader_text{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 6em ;
        transform: scaleY(1);
        h2{
            color: #f7db6b;
            font-size: 10vw;
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }
    }
}
.temp{
    display: grid;
    place-items: center;
}

.loader_1{
    svg{
        path{
            stroke: #f5edcc;
            stroke-width: 1.5px;
            animation: stroke 3s ease-in-out infinite alternate;
        }
    }
}

@keyframes animation1 {
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}
@keyframes stroke{
    0%{
        stroke-dasharray: 100;
    }
    100%{
        stroke-dasharray: 390;
    }
}
@keyframes preload{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width: 450px){
    .preloader_text{
        padding: 0;
        justify-content: center;
    }
}