@import './_variables.scsss';

.projects{
    min-height: 100vh;
    background-color: $primaryWhite;
    display: flex;
}
.frame_fixed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100px;
    background-color: $primaryBlack;
    border: 0px 1px solid $primaryWhite;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    p{
        text-transform: uppercase;
        color: $primaryWhite;
        font-size: 2.5em;
        font-family: $vipFont;
        letter-spacing: 2px;
        transform: rotateZ(-90deg);
        white-space: nowrap;
        letter-spacing: 3px;
        font-weight: 500;
    }
}
.frame_scroll{
    margin: 80px 0.5em 0 0.5em;
    display: grid;
    overflow-x: hidden;
    width: 100%;
    .project_type{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid $primaryBlack;
        margin: 1em 0.5em;
        p{
            font-size: 1.8em;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.projects_personal{
    padding: 1em 0;
    display: grid;
    justify-items: center;
}
._project2{
    margin: 2em 0;
    width: 100%;
    display: grid;
    justify-items: center;
}
.project_wrapper{
  width: 90%;
  aspect-ratio: 10/16;
  position: relative;
//   min-height: 350px;
  padding: 2em;
  overflow: hidden;
}
.covid_project{
    background: url(/assets/covid.png);
    background-size: 100% 100%;
}
.folio_project{
    background: url(/assets/folio.png);
    background-size: 100% 100%;
}
.celeb_project{
    background: url(../assets/celeb.png);
    background-size: 100% 100%;
}
.smart_project{
    background: url(/assets/smartbrains.png);
    background-size: 100% 100%;
}
.stay{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
  button{
      transition: all 0.5s ease;
      background-color: #0f0f0f;
      border: none;
      font-size: 1.1em;
      padding: 0.5em 1em;
      border-radius: 25px;
      text-transform: uppercase;
      color: rgb(65, 199, 199);
      cursor: pointer;
      &:hover{
          color: wheat;
      }
    }
}
.project_slider{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.5s ease;
  padding: 3em 2em;
  color: white;
  overflow: hidden;
  button{
      transition: all 0.5s ease;
      position: absolute;
      background: transparent;
      top: 0;
      right: 0;
      margin: 2em;
      border: none;
      border-bottom: 2px solid tomato;
      font-size: 0.8em;
      padding: 0.5em 1em;
      border-radius: 25px;
      text-transform: uppercase;
      color: rgb(241, 216, 216);
      cursor: pointer;
      &:hover{
          background-color: wheat;
          color: black;
      }
    }
}


.project_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
    justify-content: center;
    .project_detail{
        text-align: center;
    }
    .project_techs{
        margin: 1em 0;
        width: 100%;
        display: flex;
        padding: 0 1.1em;
        justify-content: center;
        flex-wrap: wrap;
        span{
            font-size: 0.8em;
            white-space: nowrap;
            margin: 0.5em;
            width: fit-content;
            border: 1px solid white;
            padding: 0.5em 1em;
            border-radius: 1em;
            font-weight: 600;
        }
    }
    .project_buttons{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        a{
            margin: 0 1em;
            color: black;
            text-decoration: none;
            padding: 0.5em 1em;
            cursor: pointer;
            font-family: $coolFont;
            font-size: 1em;
            border-radius: 18px;    
            background-color: white;
            border: 5px solid black;
            transition: all 0.6s ease;
            &:hover{
                background-color: $primaryBlack;
                color: white;
            }
    }   }
}





@media only screen and (min-width: 1050px){
    .project_wrapper{
        width: 70%;
        aspect-ratio: 16/9;
    }
    .project_detail{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1050px) {
    .project_wrapper{
        aspect-ratio: 4/3;
    }
    
}
@media screen and (max-width: 550px) {
    .project_wrapper{
        aspect-ratio: 10/16;
    }
    
}
@media screen and (max-width: 380px){
    .project_wrapper{
        aspect-ratio: 1/2.2;
    }
    .frame_fixed{
        width: 70px;
        p{
            font-size: 2em;
        }
    }
}